<div class="layout">
  <header class="header">
    &#x1F3B3; Die Bataries &#x1F3B3;
  </header>

  <nav class="menu">
    <ul>
      <li><a [routerLink]="['home']" routerLinkActive="aktiv">Hauptseite</a></li>
      <li><a [routerLink]="['dokument', 'satzung']" routerLinkActive="aktiv">Satzung</a></li>
      @if (loginService.istNutzerAngemeldet()) {
      <li><a [routerLink]="['kegeltermine']" routerLinkActive="aktiv">Kegeltermine</a></li>
      @if (loginService.hatBerechtigung('verwaltung')) {
        <li><a [routerLink]="['verwaltung']" routerLinkActive="aktiv">Verwaltung</a></li>
      }
      }
    </ul>
  </nav>

  <main class="content">
    <router-outlet/>
  </main>
</div>
